.home-btn{
	color: #c0b283;
    border-radius: 50px;
    border: none;
	text-align: left;
	width: 100%;
	height: 100px;
	margin: 10px auto;
	font-size: 12px;}

.added-btn{
	color: #c0b283;
    border-radius: 50px;
    border: none;
    font-size: 12px;
    font: open sans;
    align-content: center;
    align-items: center;
	text-align: center;
	width: 100%;}